@font-face {
    font-family: 'DroidSerifRegular';
    src: url('../webfonts/DroidSerif-webfont.eot');
    src: url('../webfonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/DroidSerif-webfont.woff') format('woff'),
         url('../webfonts/DroidSerif-webfont.ttf') format('truetype'),
         url('../webfonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

